In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [30]:
# Loading and cleaning data
cereal_ts = pd.read_csv("cereal-time-data.csv")
cereal_ts['grams'] = cereal_ts['grams'].fillna(value = 0).replace(' ', 0)
cereal_ts['date'] = pd.to_datetime(cereal_ts['date'], format = '%m/%d/%y')
cereal_ts = cereal_ts.astype({'name':'string', 'grams':'int'})
cereal_ts.head()

        date                name  grams
0 2025-06-16            Cheerios    284
1 2025-06-16  Honey Nut Cheerios    728
2 2025-06-16         Corn Flakes    364
3 2025-06-16      Honey Nut Chex      0
4 2025-06-16                Chex    279